{# src/OC/PlatformBundle/Resources/views/Advert/delete.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}

  <h2>Supprimer </h2>


  <p>
   Cette annonce a été supprimée
  </p>

{% endblock %}
